*{
    font-size: 24px;
}

.calculator-wrap{
    width: 500px;
    height: 600px;
    padding: 5px;
    border: 3px solid;
    background: #272626;
    color: #fff;
    align-items: center;
    text-align: center;
}

.calculator-content{
    
}

.display{
    margin: 15px 20px;
    padding: 15px 30px;
    text-align: right;
    background: #54545489;
    border: 3px solid black;
}

.previous-operation-display{
    font-size: 25px;
    min-height: 40px;
}

.current-operation-display{
    font-size: 40px;
    min-height: 70px;   
}

.buttons-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons-container > div{
    background: #585858;
    max-height: 70px;
    padding: 22px;
    margin: 3px;
    border: 2px solid #191919;
    font-weight: 700;
}

.equal{
    grid-column: span 2;
}

